In [1]:
import pandas as pd

In [4]:
weather_data=[('1/1/2017','mumbai',34,6,'rain'),
             ('1/2/2017','chennai',43,4,'sunny'),
             ('1/3/2017','chennai',32,6,'snow'),
             ('1/4/2017','chennai',34,2,'rain'),
             ('1/5/2017','mumbai',44,8,'rain'),
             ('1/6/2017','chennai',39,4,'snow'),
             ('1/7/2017','mumbai',37,1,'rain')]
df=pd.DataFrame(weather_data,columns=['date','city','temp','windspeed','event'])

In [5]:
g=df.groupby('city')

In [8]:
for name , group in g:
    print(name)
    print(group)

chennai
       date     city  temp  windspeed  event
1  1/2/2017  chennai    43          4  sunny
2  1/3/2017  chennai    32          6   snow
3  1/4/2017  chennai    34          2   rain
5  1/6/2017  chennai    39          4   snow
mumbai
       date    city  temp  windspeed event
0  1/1/2017  mumbai    34          6  rain
4  1/5/2017  mumbai    44          8  rain
6  1/7/2017  mumbai    37          1  rain

In [10]:
df=pd.DataFrame([(1,'odd'),
                (2,'even'),
                (3,'odd'),
                (4,'even'),
                (5,'odd')],index=[4,5,6,7,8])
df

   0     1
4  1   odd
5  2  even
6  3   odd
7  4  even
8  5   odd

In [27]:
df.loc[:7,:1]

   0     1
4  1   odd
5  2  even
6  3   odd
7  4  even

In [15]:
df.iloc[:3]

   0     1
4  1   odd
5  2  even
6  3   odd